# The Pygmalion Effect

In [2]:
import pathlib

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

sns.set()
pd.options.display.float_format = "{:.3f}".format
pd.options.display.max_columns = 12

We begin by reading the data and summarizing the variables.

In [3]:
path = pathlib.Path.home() / 'data' / 'sleuth3' / 'case1302.csv'
df = pd.read_csv(path)
df.head()

  Company      Treat  Score
0      C1  Pygmalion 80.000
1      C1    Control 63.200
2      C1    Control 69.200
3      C2  Pygmalion 83.900
4      C2    Control 63.100

In [4]:
summary = df.describe()
summary

       Score
count 29.000
mean  74.069
std    7.992
min   59.500
25%   69.200
50%   73.900
75%   78.900
max   89.800

# Statistical Conclusion